
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}
