<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>My Web App</h1>
  </div>

  <button onClick="handleSignIn()">Login</button>

  <form onSubmit="handleMessageFormSubmit()" action="#">
    Title:
    <input id="post-title" type=text><br>
    Body:
    <textarea id="post-body"></textarea><br><br>
    <button>Submit</button>
  </form>

  <div id="post-listing"></div>

  
</body>

</html>