<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/about">About me</a></li>
    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
</ul>